{% extends "parent.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="mb-3" action="/mypage/login" method="post">
                <label for="EmailForm" class="form-label">メールアドレス</label>
                <input type="email" class="form-control" id="EmailForm" placeholder="name@example.com" name="email">
                <label for="PasswordForm" class="form-label">パスワード</label>
                <input type="password" class="form-control" id="PasswordForm" placeholder="Example1234" name="password">
                <button type="submit" class="btn btn-primary">ログイン</button>
                <p>ログインできませんでした。メールアドレスまたはパスワードを確認してください。</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}